{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
<div class="card m-3">
  <img src="{{ product.image | media_filter }}" class="card-img-top w-50" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ object.name }}</h5>
    <p class="lead">Цена: {{ object.price }} руб.</p>
    <p class="card-text">{{ object.description }}</p>
    <p class="card-text"><small class="text-body-secondary">Last updated {{ object.updated_at }}</small></p>
      <a href="{% url 'catalog:catalog_list' %}" class="btn btn-primary">Вернуться назад</a>
  </div>
</div>
{% endblock %}